# Dependencies
node_modules
dist

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage
.idea

.DS_Store

build/
database/models/seeders/20230524012420-create-admins-users.js

database/users.js